* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --night: #0b0d0a;
  --raisin-black: #282828;
  --timberwolf: #e5dddc;
  --yinmn-blue: #4b5874;
  --byzantine-blue: #305de8;

  color-scheme: light dark;
  color: var(--timberwolf);
  background-color: var(--night);
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "Readex Pro", sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
}
